VK_TOKEN=vk1.a.IWqm-CSCXVkzcql0ry9XuZkyYHMbbO_aM8DtQ7d9IAKqsKht7OROE5sLM1wvK2_qfKztGdUg4SIdx1EYI9xqLkuXWf9Ir4ogWmfR9-5H1tZTwT0qUN4kQ6LvoozS6dfgVfvQhqmW4wMO4SO91PwWcVM75J2QRlBveugRnw2BZjhaIVr3Zrs5npWIQGDcwaHzuWcTujN05ABPxqP7y_8Nmw
